<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>抱歉,请稍后再访问网站 - 500</title>
    </head>
    <body style="background:url({{ asset('bundles/gaorenvendors/images/404.png') }}) no-repeat">
    </body>
</html>
