<div class="form-border connection">
    <form class="form-stacked" action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
        {# include "GaorenVendorsBundle:Fragment:alert-message.html.twig" #}
        {{ form_widget(form) }}
        <div class="form-actions">
        <button type="submit" class="btn btn-large btn-success" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" >更新</button>
        </div>
    </form>
</div>
