<div class="fos_user_user_show well">
    <h2>公司信息</h2><hr>
    <strong>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}:</strong> {{ user.username }}</br>
    <strong>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}:</strong> {{ user.email }}</p>
</div>
