<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div class="form-actions">
        <button type="submit" class="btn btn-large btn-success" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" >更改密码</button>
    </div>
</form>
